.planet-card {
	display: grid;
	justify-items: center;
	grid-template-areas:
		'nav'
		'planet'
		'info'
		'stats';
}

.planet-card__nav {
	grid-area: nav;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position: relative;

	&::after {
		position: absolute;
		content: '';
		width: 100em;
		height: 1px;
		background-color: var(--border);
		left: -100%;
	}

	&::after {
		bottom: 0;
	}

	button {
		background-color: transparent;
		border: 0;
		padding-block: 14px;
		display: flex;
		align-items: center;
		color: var(--clr-n-200);

		span {
			font-size: var(--fs-400);
			font-family: var(--ff-main);
			text-transform: uppercase;
			color: var(--clr-n-200);
			opacity: 0.5;

			&.num {
				display: none;
			}
		}
	}
}

.planet-card__image {
	grid-area: planet;
	margin-top: 68px;
	margin-bottom: 64px;
	position: relative;

	.geology-image {
		position: absolute;
		width: 163px;
		top: 80%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: none;

		&.active {
			display: block;
		}
	}
}

.planet-card__info {
	grid-area: info;

	.header {
		font-family: var(--ff-title);
		font-size: var(--fs-800);
		line-height: var(--lh-title);
		text-transform: uppercase;
		text-align: center;
	}

	.text {
		font-family: var(--ff-main);
		font-size: var(--fs-500);
		line-height: var(--lh-text);
		text-align: center;
		margin-top: 24px;
		margin-bottom: 55px;
	}

	.link {
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--clr-200);
		font-size: var(--fs-500);
		opacity: 0.5;

		a {
			color: inherit;
			margin-left: 15px;
			position: relative;

			&::before {
				position: absolute;
				left: -10px;
				content: ':';
			}
		}

		img {
			width: 12px;
			height: 12px;
			margin-left: 36px;
		}
	}
}

.planet-card__stats {
	grid-area: stats;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 28px;

	.stat-card {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: solid 1px var(--border);
		padding-block: 10px;
		padding-inline: 24px;

		.header {
			text-transform: uppercase;
			font-family: var(--ff-main);
			font-size: var(--fs-300);
			opacity: 0.5;
			line-height: var(--lh-400);
		}

		.stat {
			font-family: var(--ff-title);
			font-size: var(--fs-700);
			line-height: var(--lh-stat);
			text-transform: uppercase;
		}
	}
}

@media (min-width: 768px) {
	.planet-card {
		grid-template-areas:
			'planet planet'
			'info nav'
			'stats stats';
	}

	.planet-card__nav {
		flex-direction: column;
		justify-content: center;
		gap: 16px;
		min-width: 280px;

		&::before,
		&::after {
			display: none;
		}

		button {
			text-align: left;
			align-items: center;
			width: 100%;
			border: solid 1px var(--border);
			padding-inline: 20px;
			cursor: pointer;
			transition: background-color var(--trans-dur);

			span {
				&.num {
					display: block;
					margin-right: 18px;
				}
			}

			&:hover {
				background-color: var(--clr-n-400);
			}
		}
	}

	.planet-card__info {
		margin-top: 110px;
		margin-bottom: 30px;

		.header {
			text-align: left;
		}

		.text {
			padding-right: 70px;
			text-align: left;
			margin-top: 34px;
		}

		.link {
			justify-content: flex-start;
		}
	}

	.planet-card__stats {
		flex-direction: row;
		gap: 11px;

		.stat-card {
			display: flex;
			width: 100%;
			flex-direction: column;
			align-items: flex-start;
			padding-block: 19.5px;
			padding-inline: 15px;
		}
	}

	.planet-card__image {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			flex-grow: 0;
		}
	}
}

@media (min-width: 1440px) {
	.planet-card {
		grid-template-areas:
			'planet info'
			'planet nav'
			'stats stats';
	}

	.planet-card__info {
		max-width: 350px;
		justify-self: flex-end;

		.text {
			padding-right: 0;
			width: 100%;
			margin-top: 41px;
			margin-bottom: 49px;
		}
	}

	.planet-card__nav {
		justify-self: flex-end;
		max-width: 350px;
	}

	.planet-card__stats {
		gap: 30px;
		margin-top: 87px;

		.stat-card {
			padding-block: 27.5px;
			padding-inline: 23px;
		}
	}
}
