* {
	margin: 0;

	&:before,
	&::after {
		box-sizing: border-box;
	}
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background-color: var(--clr-n-100);
	color: var(--clr-n-200);
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

:root {
	--clr-n-100: hsla(240, 67%, 8%, 1); // Black
	--clr-n-200: hsla(360, 100%, 100%, 1); // White
	--clr-n-300: hsla(360, 100%, 100%, 0.5); // Gray

	--border: hsla(360, 100%, 100%, 0.2);

	--ff-title: 'Antonio', sans-serif;
	--ff-main: 'League Spartan', sans-serif;

	--fs-300: 0.5rem; // 8
	--fs-400: 0.5625rem; // 9
	--fs-500: 0.6875rem; // 11
	--fs-600: 0.9375rem; // 15
	--fs-700: 1.25rem; // 20
	--fs-800: 2.5rem; // 40
}

@media (min-width: 768px) {
	:root {
		--fs-300: 0.6875rem; // 11
		--fs-400: 0.75rem; // 12
		--fs-500: 0.875rem; // 14
		--fs-600: 0.6875rem; // 11
		--fs-700: 1.5rem; // 24
		--fs-800: 3rem; // 48
	}
}

@media (min-width: 1440px) {
	:root {
		--fs-700: 2.5rem; // 40
		--fs-800: 5rem; // 80
	}
}

h1 {
	font-size: var(--fs-800);
}
